.navbarMenu ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.navbarMenu li h6 {
    padding: 8px;
    margin: 10px;
    background-color: #33b5e5;
    color: #ffffff;
}

.navbarMenu li h6:hover {
    background-color: #0099cc;
}

ul>li {
    display: inline-block;
}